.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inner-carousel {
  display: flex;
  height: 880px;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  height: 880px;
  width: auto;
}

.animation-dev{
  height: 200px;
}

.centered-logo {
  display: block;
  margin: 0 auto;
}

.centered-bg {
  display: block;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

#OurStoryImage01 {
  border-radius: 50px;
}

#OurStoryImage02 {
  border-radius: 50px;
}

#OurStoryImage03 {
  border-radius: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
